@charset "utf-8";
/* CSS Document */

.toolbar{
	height: 100px;
	width: 100%;
}

.toolbarTOP{
	height: 50px;
	width: 100%;
	background-color: #0FF;
}

.toolbarBOT{
	height: 50px;
	width: 100%;
	background-color:#09C;
}

.workArea{
	background-color:#999;
	width: 100%;
	height: 500px;
}

.sidebar{
	width: 300px;
	height: 100%;
	background-color:#CC0;
	float:left;
}

.mapArea{
	background-color:#090;
	float: right
	width:auto;
	height: 100%;
}